🏨 <b>Отель-консьерж</b>

Я могу помочь вам:
• Ответить на вопросы об отеле (меню, услуги, цены)
• Принять подтверждение бронирования и договориться с отелем за вас
• Отслеживать ваши активные запросы и сообщать о результатах

Ваш персональный адрес для пересылки:
<code>{{inbox_address}}</code>

Перешлите сюда подтверждение бронирования (или на адрес выше) либо просто расскажите о своих пожеланиях!
